.center{
    margin-left: auto;
    margin-top: auto;
    width: 90%;
}
.button-space{
    margin-right: 5px;
    margin-left: 5px;
}
.right{
    margin-left: 90%;
}
.margin-small{
    margin-left: 50px;
    margin-right: 50px;
    width: 150px;
}
.bt-margin-small{
    margin: 10px;
}
.info-table{
    width: 90%;
}  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }