<div class="card-wrapper">

    <mat-card class="certificateCard" >
        

        <mat-card-content>
            <mat-card-title>New Certificate</mat-card-title>

            <mat-expansion-panel  class="field-full-width">    
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Issuer Data
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div *ngIf = "issuerData" class="field-full-width">
                <span>
                  Common Name : {{issuerData.commonName}} <br> ValidFrom: {{issuerData.start}} <br>ValidTo: {{issuerData.end}}
                  <br>Organization : {{issuerData.organisation}}
                  <br>Organization Unit : {{issuerData.organisationUnit}}
                  <br>Country : {{issuerData.country}}
                </span>
              </div>
              <div *ngIf = "!issuerId" class="field-full-width">
                <span>Self Signed</span>
              </div>
            </mat-expansion-panel>

            <form class="form" [formGroup]="certificateForm" (ngSubmit)="certificateForm.valid && onCreateCertificate()" noval>

                <mat-form-field class="field-full-width">
                    <input id="commonName"
                      matInput
                      formControlName="commonName"
                      placeholder="Common Name" />  
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <input id="givenName"
                      matInput
                      formControlName="givenName"
                      placeholder="GivenName" />
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <input id="surname"
                      matInput
                      formControlName="surname"
                      placeholder="Surname" />
                   
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <input id="organization"
                      matInput
                      formControlName="organization"
                      placeholder="Organization" />
                     
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <input id="organizationUnit"
                      matInput
                      formControlName="organizationUnit"
                      placeholder="Organization Unit" />
                     
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <input id="country"
                      matInput
                      formControlName="country"
                      placeholder="Country" />
                     
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <input id="email"
                      matInput
                      formControlName="email"
                      placeholder="Email" />
                  </mat-form-field>

                  <mat-form-field class="field-full-width">
                    <mat-label>Expiration date</mat-label>
                    <mat-select formControlName="duration">
                      <mat-option value = '1'>One year </mat-option>
                      <mat-option value = '2'>Two years </mat-option>
                      <mat-option value = '3'>Three year </mat-option>
                      <mat-option value = '5'>Five year </mat-option>
                      <mat-option value = '10'>Ten year </mat-option>
                      <mat-option value = '20'>Twenty year </mat-option>
                    </mat-select>
                  </mat-form-field>

                <div  *ngIf ="issuerId" class="field-full-width" style="margin-bottom: 20px;">
                  <mat-radio-group aria-label="Select an option" formControlName="isCa">
                    <mat-radio-button  style="margin-right: 5px;" value="true">CA certificate</mat-radio-button>
                    <mat-radio-button value="false">User certificate </mat-radio-button>
                  </mat-radio-group>
                </div>
                  
                  
                  <button  id="generateBtn"mat-flat-button color= "primary" class="btn-block m-right">Create</button>
            </form>
            <button  mat-flat-button color= "primary" class="btn-block" (click)="back()">Back</button>
        </mat-card-content>

    </mat-card>

</div>